# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
python-backend/.venv/
python-backend/__pycache__/
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
# Data files
*.csv
*.parquet
*.ndjson
#output pictures
*.png