.headerStyle {
    color: DodgerBlue;
    margin-left: 38%;
    margin-top: 1%;
}

.apartmentFormStyle {
    margin-right: 4%;
    text-align: center;
}

.resultsStylePrice {
    background-image: linear-gradient(to bottom, lightblue, white);
    display: inline-block;
    margin-left: 25.6%;
    margin-right: 5%;
    margin-top: 2%;
    width: 20%;
    height: 20%;
    text-align: center;
    border-radius: 10px;
    outline-width: 3px;
    outline-style: solid;
}

.resultsStyleLivingSpace {
    background-image: linear-gradient(to bottom, lightgreen, white);
    background-color: lightgreen;
    display: inline-block;
    width: 20%;
    height: 20%;
    text-align: center;
    border-radius: 10px;
    outline-width: 3px;
    outline-style: solid;
}

.apartmentLinkStyle {
    text-align: center;
    width: 20%;
    height: 20%;
    margin-left: 39%;
}

.bold {
    font-weight: bold;
}

.validationError {
    text-align: center;
    color: red;
}

.button,
.linkButton {
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    text-decoration: black;
    font-size: 16px;
    cursor: pointer;
}

.button {
    margin-top: 20px;
}

.linkButton {
    margin-left: 38%;
}

.resultsStylePrice,
.resultsStyleLivingSpace,
.apartmentLinkStyle {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

.apartmentLinkStyle {
    margin-left: 38.5%;
}

@keyframes fadeInOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}